/* 引入font-awesome图标 */

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

/* 全局css样式 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不允许用户选中文本 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/* a连接 */

a {
    color: #000000;
    /* a标签去下划线*/
    text-decoration: none;
    cursor: pointer;
}


/* 字体 */

.fs10 {
    font-size: 10px;
}

.fs12 {
    font-size: 12px;
}

.fs14 {
    font-size: 14px;
}

.fs18 {
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}

.fs24 {
    font-size: 24px;
}

.fs30 {
    font-size: 30px;
}

.fs40 {
    font-size: 40px;
}


/* 字体粗体大小 */

.fw600 {
    font-weight: 600;
}

.fa-pg{
    padding:10px;
    border-radius: 10px;
    transition: all .3s linear;
}
.fa-pg:hover {
    background-color: whitesmoke;
    transform: scale(0.9);
}
/* 颜色 */

.color1 {
    color: #525252;
}

.color2 {
    color: #696969;
}

.color3 {
    color: #335eea;
}

.color4 {
    color: #f2f2f4;
}

.color5 {
    color: #1e1d1d;
}

.a-active {

    color: #335eea;
    font-weight: 600;
    /* background-color: whitesmoke; */
}
/* 列表 */

.ul {
    padding: 0;
    margin: 0;
}

.li {
    list-style: none;
}


/* flex布局 */

.r-flex {
    display: flex;
}

.c-flex {
    display: flex;
    flex-direction: column;
}


/* 网格布局 */

.grid {
    display: grid;
    gap: 20px;
}


/* 溢出隐藏，文本是否换行，文本长度超过宽度剩余用...代替 */

.text-h-n-e {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* 文字和背景一起透明<1 */

.opacity68 {
    opacity: 0.68;
}

.opacity88 {
    opacity: 0.88;
}


/* 背景颜色 */

.bg1 {
    background-color: #EAEFFD;
}

.bgc-1 {
    background-color: whitesmoke;
}

.bgc2 {
    background-color: #abb7dc;
}


/* 照片 */

img {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}


/* 边框圆角 */

.br5 {
    border-radius: 5px;
}

.br10 {
    border-radius: 0.625rem;
}

.br15 {
    border-radius: 15px;
}

.br20 {
    border-radius: 20px;
}

.br25 {
    border-radius: 25px;
}


/* 外边距 */

.mg5 {
    margin: 5px;
}

.mg10 {
    margin: 10px;
}

.mg15 {
    margin: 15px;
}

.mg20 {
    margin: 20px;
}

.mg25 {
    margin: 25px;
}

.mg30 {
    margin: 30px;
}

.mg35 {
    margin: 35px;
}

.mg40 {
    margin: 40px;
}

.mg45 {
    margin: 45px;
}

.mg10-0 {
    margin: 10px 0;
}
.mg15-0 {
    margin: 15px 0;
}
.mg20-0 {
    margin: 20px 0;
}

.mg50-0 {
    margin: 50px 0;
}

.mt20 {
    margin-top: 20px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt100 {
    margin-top: 100px;
}

.mb50 {
    margin-bottom: 50px;
}


/* 内边距 */

.pg5 {
    padding: 5px;
}

.pg10 {
    padding: 10px;
}

.pg15 {
    padding: 15px;
}

.pg20 {
    padding: 20px;
}

.pg25 {
    padding: 25px;
}

.pg30 {
    padding: 30px;
}

.pg35 {
    padding: 35px;
}

.pg40 {
    padding: 40px;
}

.pg45 {
    padding: 45px;
}

.pg50 {
    padding: 50px;
}

.pg0-5 {
    padding: 5px 0px;
}

.pg5-10 {
    padding: 10px 5px;
}

.pg10-15 {
    padding: 10px 15px;
}

.pg15-20 {
    padding: 20px 15px;
}

.pg20-25 {
    padding: 25px 20px;
}

.pg25-30 {
    padding: 30px 25px;
}

.pg30-35 {
    padding: 35px 30px;
}

.pg35-40 {
    padding: 40px 35px;
}

.pg40-45 {
    padding: 45px 40px;
}

.pg45-50 {
    padding: 50px 45px;
}

.pg5-0 {
    padding: 0px 5px;
}

.pg10-5 {
    padding: 10px 5px;
}
.pg5-10 {
    padding: 5px 10px;
}

.pg15-10 {
    padding: 15px 10px;
}

.pg20-15 {
    padding: 15px 20px;
}

.pg25-20 {
    padding: 20px 25px;
}